<ion-header >
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="content-table">
    <ion-grid color="primary">
      <ion-row class="row-titles">
        <ion-col size="6">NOMBRE</ion-col>
        <ion-col size="4">VENDEDOR</ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>

    <div class="custom-hr"></div>

    <ion-grid>
      <ion-row *ngFor="let item of displayedItems">
        <ion-col class="ion-text-start" size="6"> {{item.nombre}} </ion-col>
        <ion-col class="ion-text-start" size="4"> {{item.vendedor}} </ion-col>
        <ion-col size="2" class="buttons">
          <ion-button (click)="agregarCliente(item.id_cliente)">
            <ion-icon name="add" color="info"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>