<ion-content [fullscreen]="true">

  <div id="container">

    <div class="title">
      <ion-title> {{folder}} </ion-title>
    </div>

    <div class="box">
      <div class="title-table">
        <ion-label>Ventas realizadas</ion-label>
      </div>
      <div class="search">

        <div class="datetime">

          <ion-title>desde: </ion-title>
          <ion-datetime-button datetime="datetime">Inicio: </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" presentation="date"></ion-datetime>
            </ng-template>
          </ion-modal>
          
          <ion-title>hasta: </ion-title>
          <ion-datetime-button datetime="datetime2"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime2" presentation="date"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <div class="searchbar">          
          <ion-searchbar placeholder="Buscar venta..."></ion-searchbar>
        </div>
        
      </div>
    </div>
  </div>

</ion-content>