ion-toolbar {
    --background: #6B3416;
    color: white;
}

.titulos {
    font-size: 16px;
    font-family: 'poppins-medium', sans-serif;
}

.margen-inferior {
    margin-top: 20px;
}

.centrar {
    text-align: center;
}

ion-content {
    font-size: 16px;
    font-family: 'poppins-medium', sans-serif;
}

