<ion-content [fullscreen]="true">

  <div id="container">

    <div class="title">
      <ion-title> Inventario </ion-title>
    </div>

    <div class="box">

      <div class="headers-table">
        <div class="title-table">
          <ion-label>Ver lista de productos</ion-label>
        </div>

        <div class="search">
          <div class="searchbar">
            <ion-searchbar placeholder="Buscar producto..."></ion-searchbar>
          </div>
        </div>
      </div>

      <div class="content-table">
        <ion-grid color="primary">     
          <ion-row class="row-titles">
            <ion-col size="1">CÓDIGO</ion-col>
            <ion-col size="3">PRODUCTO</ion-col>
                      
            <ion-col size="1" class="ion-text-end">COSTO</ion-col>
            <ion-col size="1" class="ion-text-end">PRECIO</ion-col>
            <ion-col size="1" class="ion-text-end">P + IVA</ion-col>
            <ion-col size="1" class="ion-text-end">DESC.</ion-col>
            <ion-col size="1" class="ion-text-end">UTIL %</ion-col>
            <ion-col size="1" class="ion-text-center">STOCK</ion-col>
            <ion-col size="2"></ion-col>
            
          </ion-row>
        </ion-grid>

        <div class="custom-hr"></div>

        <ion-grid >
          <ion-row *ngFor="let item of displayedItems">
            <ion-col class="ion-text-center" size="1"> {{item.id_producto}}</ion-col>                        
            <ion-col class="ion-text-start" size="3"> {{item.nombre}} - {{item.unidad}}</ion-col>                        
            
            <ion-col class="ion-text-end" size="1"> {{item.costo | currency:'COP':'symbol-narrow'}} </ion-col>
            <ion-col class="ion-text-end" size="1"> {{item.precio_antes_iva | currency:'COP':'symbol-narrow'}} </ion-col>
            <ion-col class="ion-text-end" size="1"> {{item.precio_mas_iva | currency:'COP':'symbol-narrow'}} </ion-col>
            <ion-col class="ion-text-end" size="1">  {{ item.descuento | percent }} </ion-col>
            <ion-col class="ion-text-end" size="1">  {{ item.utilidad | percent }} </ion-col>
            <ion-col class="ion-text-center" size="1"> {{item.cantidad}}  </ion-col>
            <ion-col size="2" class="buttons">
              <ion-button class="buttons" color="warning" (click)="analisisPrecio(item.id_producto)">
                <ion-icon name="bag-add-outline"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="create" color="info"></ion-icon>
              </ion-button>
              <ion-button class="buttons" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-button>              
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </div>

      <div class="pagination-controls">
        <div class="control-buttons">
          <button ion-button (click)="prevPage()" [disabled]="currentPage === 1">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </button>
          <span>{{ currentPage }}</span>
          <button ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </button>
        </div>
      </div>

    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>