<ion-app>
  <ion-split-pane contentId="main-content" >

    <div class="content">

      <div class="logo">
        <ion-img src="assets/logo-setas.png"></ion-img>
      </div>

      <div class="menu">
        <ion-menu-toggle auto-hide="false">
                   
          <ion-item routerDirection="root" [routerLink]="'/metricas'" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" name="pie-chart" slot="start"></ion-icon>
            <ion-label>Métricas</ion-label>
          </ion-item>


          <ion-item routerDirection="root" [routerLink]="'/ventas'" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" name="bag-check" slot="start"></ion-icon>
            <ion-label>Ventas</ion-label>
          </ion-item>
          

          <ion-item routerDirection="root" [routerLink]="'/clientes'" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" name="business" slot="start"></ion-icon>
            <ion-label>Clientes</ion-label>
          </ion-item>
         

          <ion-item routerDirection="root" [routerLink]="'/inventario'" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
            <ion-label>Productos</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </div>

      <div class="exit">
        <ion-menu-toggle auto-hide="false">
          <ion-item>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label> Salir </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </div>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>