.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;

  ion-img {
    width: 55%;
    padding-top: 10%;
  }
}

.menu,
.exit {
  padding-top: 20px;

  ion-menu-toggle {
    align-items: center;
    display: flex;
    flex-direction: column;

    ion-item {
      margin-top: 10px;
      border-radius: 7px;
      width: 90%;

      ion-label {
        font-size: 16px;
        font-family: 'poppins-medium', sans-serif;
        --color: #cbcbcb;
      }

      ion-icon {
        font-size: 24px;
        margin-left: 10px;
        color: #cbcbcb;
      }

      &:hover,
      &.selected ion-icon {
        color: #6B3416;
      }

      &:hover,
      &.selected ion-label {
        --background: #6B3416;
        color: #6B3416;
        --color: #cbcbcb;
      }

      &:hover ion-icon {
        color: #fff;
      }

      &:hover ion-label {
        color: #fff;
      }
    }
  }
}

