<ion-content [fullscreen]="true">
  <div id="container">
    <div class="title">
      <ion-title> Crear nueva venta </ion-title>
    </div>

    <div class="nuevaventa">
      <div class="box1">
        <div class="headers-table">
        </div>

        <div class="content-table">
          <ion-grid color="primary">
            <ion-row class="row-titles">
              <ion-col size="10">
                <ion-searchbar placeholder="Buscar productos" (ionInput)="onSearchChange($event)"></ion-searchbar>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
          </ion-grid>

          <div class="custom-hr"></div>

          <ion-grid>
            <ion-row *ngFor="let item of productos" class="ion-text-start" size="10">
              <ion-col>
                <ion-item>
                  {{ item.nombre }} - ({{ item.unidad }})
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="addItem(item)">
                  <ion-icon name="add" color="info"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </div>
      <div class="box2">
        <div class="headers-table">
          <div class="search">
            <div class="searchbar">
            </div>
          </div>
        </div>

        <div class="content-table">
          <ion-grid color="primary">
            <ion-row class="form-subtitles">
                            
              <ion-col size="4">
                <ion-item>
                  <ion-button expand="block" class="sellbutton" (click)="buscarClientes()">
                    AGREGAR CLIENTE                    
                  </ion-button>                  
                </ion-item>                
              </ion-col>

              <ion-col size="4" class="subtitles">
                <ion-label> {{ nombreCliente }} </ion-label>                
              </ion-col>
              <ion-col size="1">
                <ion-button class="sellbutton" color="danger" size="small" (click)="resetearCliente()">
                  X
                </ion-button>
              </ion-col>

              <ion-col size="3">
                <ion-button expand="block" (click)="crearVenta()" class="sellbutton">
                  GENERAR VENTA
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="custom-hr"></div>

          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-label><strong>PRODUCTO</strong></ion-label></ion-col>
              <ion-col size="2" class="ion-text-center"><ion-label ><strong>CANT</strong></ion-label></ion-col>
              <ion-col size="1" class="ion-text-center"><ion-label ><strong>DESC</strong></ion-label></ion-col>
              <ion-col size="3" class="ion-text-end"><ion-label ><strong>VR. UNIT</strong></ion-label></ion-col>
              <ion-col size="2"><ion-label class="ion-text-end"></ion-label></ion-col>
            </ion-row>
            <ion-row *ngFor="let selectedItem of selectedItems" class="items-sell">
              <ion-col size="4">{{ selectedItem.nombre }} - {{ selectedItem.unidad }}</ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-input type="number" [formControl]="cantidadIngresada"
                  (ionChange)="onCantidadChange(selectedItem, $event)"></ion-input>
              </ion-col>
              <ion-col size="1" class="ion-text-center">
                <ion-label >{{ selectedItem.descuento }}</ion-label>
              </ion-col>
              <ion-col size="3" class="ion-text-end" >
                <ion-label >{{ selectedItem.total | currency }}</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="danger" (click)="cancelarItem(selectedItem)">
                  <ion-icon name="close-outline" slot="end"></ion-icon>
                </ion-button>
                <ion-button color="primary" (click)="cambiarDescuento(selectedItem)">
                  <ion-icon name="pricetag-outline"></ion-icon>
                </ion-button>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="pagination-controls">
          <div class="control-buttons">
            <button ion-button (click)="prevPage()" [disabled]="currentPage === 1">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </button>
            <span>{{ currentPage }}</span>
            <button ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>