<ion-content [fullscreen]="true">

  <div id="container">

    <div class="title">
      <ion-title> Clientes </ion-title>
    </div>

    <div class="box">

      <div class="headers-table">
        <div class="title-table">
          <ion-label>Ver lista de clientes</ion-label>
        </div>

        <div class="search">
          <div class="searchbar">
            <ion-searchbar placeholder="Buscar Cliente..." (input)="onSearchInput($event)"></ion-searchbar>
          </div>
        </div>
      </div>

      <div class="content-table">
        <ion-grid color="primary">     
          <ion-row class="row-titles">
            <ion-col size="2">NOMBRE</ion-col>
            <ion-col size="2">DIRECCIÓN</ion-col>            
            <ion-col size="2">TELÉFONO</ion-col>
            <ion-col size="2">VENDEDOR</ion-col>
            <ion-col size="2">TIPO CLIENTE</ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
        </ion-grid>

        <div class="custom-hr"></div>

        <ion-grid >
          <ion-row *ngFor="let item of displayedItems">
            <ion-col class="ion-text-start" size="2"> {{item.nombre}} </ion-col>            
            <ion-col size="2"> {{item.direccion}} </ion-col>
            <ion-col class="ion-text-start" size="2"> {{item.telefono}}  </ion-col>
            <ion-col class="ion-text-start" size="2"> {{item.vendedor}}  </ion-col>
            <ion-col class="ion-text-start" size="2"> {{item.tipo_cliente}} </ion-col>
            <ion-col size="2" class="buttons">
              <ion-button (click)="actualizarCliente(item.id_cliente)">
                <ion-icon name="create" color="info" ></ion-icon>
              </ion-button>
              <ion-button class="buttons" color="danger" (click)="confirmarBorrarCliente(item.id_cliente)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </div>
      <div class="pagination-controls">
        <div class="control-buttons">
          <button ion-button (click)="prevPage()" [disabled]="currentPage === 1">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </button>
          <span>{{ currentPage }}</span>
          <button ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div> 

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="agregarCliente()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
