<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CREAR PRODUCTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="inputs">

    <ion-item>
      <ion-label >Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Unidad: </ion-label>
      <ion-input type="text" [(ngModel)]="unidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Costo: </ion-label>
      <ion-input type="number" [(ngModel)]="costo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Precio: </ion-label>
      <ion-input type="number" [(ngModel)]="precio_antes_iva"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Descuento: </ion-label>
      <ion-input type="number" [(ngModel)]="descuento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >IVA: </ion-label>
      <ion-input type="number" [(ngModel)]="iva"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Cantidad: </ion-label>
      <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Seleccione categoría producto" [(ngModel)]="categoria">
        <div slot="label">Categoría: <ion-text color="danger">(Requerido)</ion-text></div>
        <ion-select-option value="fruver">Fruver</ion-select-option>
        <ion-select-option value="carne_pescado">Carne & Pescado</ion-select-option>
        <ion-select-option value="lacteos">Lácteos</ion-select-option>
        <ion-select-option value="salsas">Salsas</ion-select-option>
        <ion-select-option value="carnes_frias">Carnes Frias</ion-select-option>
        <ion-select-option value="sazonadores">Sazonadores</ion-select-option>
        <ion-select-option value="importados">Importados</ion-select-option>
        <ion-select-option value="conservas">Conservas</ion-select-option>
        <ion-select-option value="despensa">Despensa</ion-select-option>
        <ion-select-option value="desechables">Desechables</ion-select-option>
        <ion-select-option value="aceites">Aceites</ion-select-option>
        <ion-select-option value="vinagres">Vinagres</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="guardarProducto()" class="sellbutton">
          CREAR PRODUCTO 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
